 body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  background: #ffe6f2;
  color: #0b2a5a;
}

header, section, footer {
  background: #e6f0ff; /* azul muy claro */
  padding: 12px;
  margin: 12px;
  border: 2px solid #ff9ecb; /* rosa */
  border-radius: 10px;
}

header h1 {
  color: #0b4aa6; /* azul */
}

nav a {
  text-decoration: none;
  color: #0b4aa6;       /* azul */
  font-weight: bold;
  margin-right: 8px;
}

nav a:hover {
  color: #ff4fa3;       /* rosa fuerte */
}

img {
  border-radius: 8px;
  border: 2px solid #77a8ff; /* azul */
}

input, textarea, button {
  width: 300px;
  padding: 8px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #77a8ff; /* azul */
}

button {
  background: #0b4aa6; /* azul */
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #ff4fa3; /* rosa */
}